services:
  parakeet-rocm:
    build:
      context: .
      dockerfile: Dockerfile
    image: parakeet-rocm:latest
    container_name: parakeet-rocm
    ports:
      # Gradio
      - "7861:7861"
    env_file:
      - .env
    devices:
      - "/dev/kfd"
      - "/dev/dri"
    group_add:
      - "video"
    volumes:
      - "/opt/rocm:/opt/rocm:ro"
      - "./data:/app/data"
      - "./parakeet_rocm:/app/parakeet_rocm"
    command: ["parakeet-rocm", "webui", "--host", "${GRADIO_SERVER_NAME}", "--port", "${GRADIO_SERVER_PORT}", "--debug"]
    restart: unless-stopped
